
@import url(https://fonts.googleapis.com/icon?family=Material+Icons);
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css);
@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300ita‌​lic,400italic,500,500italic,700,700italic,900italic,900);
@import '~@angular/material/theming';
@include mat-core();
$md-red: (
    50 : #fce1e3,
    100 : #f6b4b8,
    200 : #f18389,
    300 : #eb5159,
    400 : #e62b36,
    500 : #e20612,
    600 : #df0510,
    700 : #da040d,
    800 : #d6030a,
    900 : #cf0205,
    A100 : #fff6f7,
    A200 : #ffc3c4,
    A400 : #ff9091,
    A700 : #ff7778,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$md-yellow: (
    50 : #fffbe0,
    100 : #fff5b3,
    200 : #ffee80,
    300 : #ffe74d,
    400 : #ffe226,
    500 : #ffdd00,
    600 : #ffd900,
    700 : #ffd400,
    800 : #ffcf00,
    900 : #ffc700,
    A100 : #ffffff,
    A200 : #fffcf2,
    A400 : #ffefbf,
    A700 : #ffe9a6,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #000000,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$app-primary: mat-palette($md-red);
$app-accent:  mat-palette($mat-orange);
// The warn palette is optional (defaults to red).
$app-warn:    mat-palette($mat-yellow);

// Create the theme object (a Sass map containing all of the palettes).
$app-theme: mat-light-theme($app-primary, $app-accent, $app-warn);
@include angular-material-theme($app-theme);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
html,body{
    height:100%;
    margin: 0;
    padding:0;
  }

