<mat-sidenav-container id="container">
  <mat-sidenav #sidenav mode="{{sidnavMode}}" [(opened)]="sidenavOpened" style="color:#fff"
    (click)="sideNavToggle(sidenav)">
    <p style="margin:10px 20px;padding:10px; height:20px;font-size:20px;border-bottom:1px solid #fff">Product</p>
    <mat-accordion>
      <ng-container *ngFor="let c1 of sidenavCategory">
        <mat-expansion-panel #matExpansionPanelC1 *ngIf="c1.children">
          <mat-expansion-panel-header (click)="expandPanel(matExpansionPanelC1,sidenav, $event)">
            <mat-panel-title (click)="go(c1.value)">
              {{c1.title}}
            </mat-panel-title>
          </mat-expansion-panel-header>
          <mat-accordion>
            <ng-container *ngFor="let c2 of c1.children">
              <mat-expansion-panel #matExpansionPanelC2 *ngIf="c2.children">
                <mat-expansion-panel-header (click)="expandPanel(matExpansionPanelC2,sidenav, $event)">
                  <mat-panel-title (click)="go(c1.value,c2.value)">
                    {{c2.title}}
                  </mat-panel-title>
                </mat-expansion-panel-header>
                <ng-container *ngFor="let c3 of c2.children">
                  <mat-expansion-panel [hideToggle]="true" [disabled]="true">
                    <mat-expansion-panel-header (click)="expandPanel(null,sidenav, $event)">
                      <mat-panel-title (click)="go(c1.value,c2.value,c3.value)">
                        {{c3.title}}
                      </mat-panel-title>
                    </mat-expansion-panel-header>
                  </mat-expansion-panel>
                </ng-container>
              </mat-expansion-panel>
              <mat-expansion-panel *ngIf="!c2.children" [hideToggle]="true" [disabled]="true">
                <mat-expansion-panel-header (click)="expandPanel(null,sidenav, $event)">
                  <mat-panel-title (click)="go(c1.value,c2.value)">
                    {{c2.title}}
                  </mat-panel-title>
                </mat-expansion-panel-header>
              </mat-expansion-panel>
            </ng-container>
          </mat-accordion>


        </mat-expansion-panel>
        <mat-expansion-panel *ngIf="!c1.children" [hideToggle]="true" [disabled]="true">
          <mat-expansion-panel-header (click)="expandPanel(null,sidenav, $event)">
            <mat-panel-title (click)="go(c1.value)">
              {{c1.title}}
            </mat-panel-title>
          </mat-expansion-panel-header>
        </mat-expansion-panel>
      </ng-container>
    </mat-accordion>
  </mat-sidenav>


  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <mat-toolbar-row id="navBar">
        <mat-icon id="menuIcon" aria-hidden="false" aria-label="menu" (click)="sidenav.toggle()"
          *ngIf="sidnavMode=='over'">menu</mat-icon>

        <img id="logo" src=".\assets\nllogoreverse.svg" />
        <mat-icon id="cartIcon" aria-hidden="false" aria-label="shopping_cart" (click)="goCart()">shopping_cart</mat-icon>
      </mat-toolbar-row>
      
    </mat-toolbar>

    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>