.mat-drawer-container {
  background-color: #fff;
}
.mat-sidenav {
  background-color: #bc0203;
  border: 0px;
  width: 280px;
}
.mat-expansion-panel {
  background-color: #bc0203;
}
.mat-expansion-panel-header{
    padding: 0 0 0 24px;
}

.mat-expansion-panel-header-title {
  color: #fff;
  cursor: pointer;
}
.mat-expansion-panel-header[aria-disabled="true"] {
  color: #fff;
  cursor: pointer;
}

.mat-expansion-panel:not(.mat-expanded):not([aria-disabled="true"]) .mat-expansion-panel-header:hover {
  background: #bc0203;
}
::ng-deep .mat-expansion-indicator {
  padding: 24px;
}
#container {
  height: 100vh;
}

#container header {
  width: 100%;
}

#navBar {
  justify-content: space-between;
}
#logo {
  height: 48px;
}

#menuIcon {
  cursor: pointer;
  padding: 10px;
}
#cartIcon {
  cursor: pointer;
  padding: 10px;
  float: right;
}
