<mat-toolbar>
  <mat-toolbar-row id="searchBar">
    <form autocomplete="off">
      <mat-form-field >
        <mat-label>
          <mat-icon>search</mat-icon> <b> Search product name or brand</b>
        </mat-label>
        <input matInput placeholder="" (keydown.enter)="search()" [(ngModel)]="keyword" name="keyword">
      </mat-form-field>
    </form>
  </mat-toolbar-row>
</mat-toolbar>


<div style="padding:20px;">
  <div *ngIf="products.length>0">
    <div fxLayout="row wrap" fxLayoutAlign="start center">
      <mat-card class="product-card" *ngFor="let product of products" [ngStyle.xs]="{'width':'100%'}"
        [ngStyle.sm]="{'width':'100%'}" [ngStyle.md]="{'width':'40%'}" [ngStyle.lg]="{'width':'20%'}"
        [ngStyle]="{'width':'16%'}">
        <mat-card-header>
          <!-- <div mat-card-avatar class="product-header-image"></div> -->
          <mat-card-title>{{product.name}}</mat-card-title>
          <mat-card-subtitle>${{product.price}}</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="{{product.image_url}}">
        <!-- <mat-card-content>
              <p>
                The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                bred for hunting.
              </p>
            </mat-card-content> -->
        <mat-card-actions>
          <button mat-button (click)="add(product)">ADD</button>
        </mat-card-actions>
      </mat-card>
    </div>
    <mat-paginator [length]="count" [pageSize]="12" [pageIndex]="params.pageIndex" (page)="pageChange($event)">
    </mat-paginator>
  </div>

  <div *ngIf="products.length==0 && !loading " style="font-size: 20px;">
    No Results
  </div>
</div>